<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Board</title>


  <style>
    * {
      padding: 0;
      margin: 0;
    }

    body {
      background: linear-gradient(45deg, #7b0909, #6771b8b8);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
    }

    img {
      width: 90%;
      height: 90%;
    }
  </style>
</head>

<body>
  <img />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous"></script>
  <script>

    window.onload = function () {
      // var room = prompt("Please enter room ID : ");
      // if (room.trim().length == 0) {
      //   document.write("<h1> Room ID is mandatory to join </h1>");
      //   return;
      // }

      socket = io.connect('localhost:3001');

      socket.emit("join-message", 'room');

      socket.on('screen-data', function (message) {
        $("img").attr("src", "data:image/png;base64," + message);
      })
    }

  </script>
</body>

</html>